
.jumbotron {
  background-image: url("https://raw.githubusercontent.com/lindsaymorris813/Project3/main/client/public/images/fruitTray.jpg");
}

.App {
  background-color: rgb(195, 227, 240);
}

.smoothie {
  width: 300px;
 }

 h3 {
   text-align: center;

 }