body {
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
  font-size: 75px;

}

*{
  font-family: 'Handlee', cursive;

}


  p.card-text {

    font-size: 20px;

  }

a.nav-link {

  font-size: 25px;
}

div.col.shadow.p-3.m-3.rounded.list-border {

  font-size: 20px;
}

h5.card-title {

  font-size: 25px;
}

div.navbar-brand {

  font-size: 28px;
}

label {

  font-size: 20px;
}